@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {

  --font-family: "Manrope", sans-serif;

  --section-padding: 5rem;
  --section-margin: 4rem;

  --color-bg: linear-gradient(103.22deg, #726576 -13.86%, #070f1a 99.55%);

  --color-button: #d54b57;

  --color-heading: #e7e3e3;
  --color-paragraph: #c9c9c9;

  --section-background: radial-gradient(circle at 30% -100%,
      #7b7a83 25%,
      rgba(4, 44, 84, 1) 85%,
      rgba(27, 120, 222, 1) 100%);


  --color-subtext: #ff8a71;
  --color-footer: #031b34;
  --color-blog: #042c54;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
}