.features-feature {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 flex-direction: row;

 margin: 1rem;
}

.features-feature-title {
 flex: 1;
 max-width: 180px;
 margin-right: 2rem;
}

.features-feature-title h1 {
 font-family: var(--font-family);
 font-weight: 800;
 font-size: 18px;
 line-height: 24px;
 letter-spacing: -0.04em;
 color: #fff;
}

.features-feature-title div {
 width: 38px;
 height: 3px;
 background: var(--gradient-bar);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 margin-bottom: 0.25rem;
}

.features-feature-text {
 flex: 2;
 max-width: 390px;
 display: flex;
}

.features-feature-text p {
 font-family: var(--font-family);
 font-weight: 500;
 font-size: 14px;
 line-height: 24px;
 color: var(--color-text);
}

@media screen and (max-width: 550px) {
 .features-feature-title h1 {
  font-size: 14px;
  line-height: 22px;
 }

 .features-feature-text p {
  font-size: 12px;
  line-height: 20px;
 }

 .features-feature {
  margin: 1rem 0;
 }
}

@media screen and (max-width: 350px) {

 /* Customizing feature component as per needs */
 .featureTwo-features .featureTwo-features-feature {
  margin: 1rem 0;
  min-width: 100%;
 }
}

/* Customizing feature component as per needs */
.featureTwo-feature .features-feature {
 margin: 0;
}

/* Customizing feature component as per needs */
.featureTwo-feature .features-feature-text {
 max-width: 700px;
}

/* Customizing feature component as per needs */
.featureTwo-features .features-feature {
 flex: 1;
 margin: 1rem;
 min-width: 210px;
 display: unset;
 flex-direction: column;
}

/* Customizing feature component as per needs */
.featureTwo-features .features-feature-text {
 margin-top: 0.5rem;
}

@media screen and (max-width: 650px) {

 /* Customizing feature component as per needs */
 .featureTwo-feature .features-feature {
  flex-direction: column;
 }

 /* Customizing feature component as per needs */
 .featureTwo-feature .features-feature-text {
  margin-top: 0.5rem;
 }

 .featureTwo-heading h1 {
  font-size: 28px;
  line-height: 40px;
 }
}